
.nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav {
  background: rgb(193,60,57);
background: radial-gradient(circle, rgba(193,60,57,1) 6%, rgba(87,9,5,1) 32%, rgba(8,4,4,1) 64%, rgba(39,8,8,1) 91%);
background-position: center;
display: flex;
justify-content: center;
}

.nav div{
  display: flex;
  justify-content: space-around;
}

.nav-item {
  align-items: center;
}
.firstMenu a{
margin:0;}

.nav-item a{
  color: #fff;
;

}


.nav-item a:hover{
  font-weight: bolder;
  color: #fff;
  border-bottom: 3px solid rgba(166, 159, 159, 0.5);
  }

.logo{
margin-left: 25%;
margin-right: 25%;
}
 
.logo img{
height: 100px;


}

 
 @media (max-width:1352px) {

  .navitem2 div{
padding-left: 0;
  } 
 }